/*Responsive*/

@media screen and (max-width: 1200px) {

    #buttons { 
        width: 50%;
        justify-content: space-around;
    }
    
}
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

/*Responsive Smartphones*/

@media screen and (max-device-width: 480px) {

    #buttons {
        flex-direction: column;
    }
    
    button {
        margin-top: 20px;
        width: 100%;
    }

}